*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: inherit;
    font-family: font1;
}
a{
    color: black;
}
/* Navigation bar */
.navigation nav .logo{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
    width: 30%;
}
#logo{
    color: black;
    font-family: font2;
    font-weight: bolder;
    color: white;
}
.navigation nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.navigation nav ul li a{
    margin-left: 3px;
    padding: 10px 20px;
    margin-left: 3px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 4);
    transition: 0.5s ease;
    font-weight: 100;
    color: white;
}
.container{
    padding-top: 25px;
    background-color: #333;
    padding-bottom: 20px;
    box-shadow: 0px 10px 16px 12px rgba(0, 0, 0, 0.1);
}
.navigation nav ul li a:hover:not(.active){
    background-color: rgb(255, 0, 0);
    color: white;
}
.active{
    background-color: rgb(255, 0, 0);
    color: white;
}
@font-face {
    font-family: font1;
    src: url(samsungsharpsans.otf);
}
@font-face {
    font-family: font2;
    src: url(coco.ttf);
}
/* Banner area */
.banner-area .headings{
    display: block;
    float: left;
    padding-left: 10%;
    margin-top: 20%;
    width: 34.375rem;
    margin-left: 5%;
}
#banner_02{
    margin-top: 40px;
}
#two{
    font-family: font2;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}
#three{
    padding-bottom: 10px;
}
#four{
    padding: 15px 35px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #333;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0,6s ease;
}
#four:hover{
    background-color: #f71111;
}
/* New Products or arivals */
.collection-box{
    display: flex;
    justify-content: center;
    align-items: center;
}/*
.img-collection a{
    padding: 30px 60px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}*/
.img-collection{
    width: 280px;
    height: 350px;
    padding: 2rem 1rem;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-in-out;
}
.img-collection:hover{
    transform: translateX(5px);
}
.img-collection:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #d7e1ec,#ffffff);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.img-collection:hover:before{
    opacity: 0.8;
    border-radius: 10px;
}
.img-collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.img-collection .info{
    position: relative;
    align-items: center;
    text-align: center;
    z-index: 3;
    opacity: 0;
    left: -210px;
    transform: translateX(10px);
    transition: 0.5s all;
}
.img-collection:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
/*
.img-collection img{
    height: 250px;
    align-items: center;
    justify-content: center;
}*/    

.head .title{
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: rgba(216, 216, 216, 0.4);
}
.img-collection .info .btn{
    float: left;
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
    background-color: #333;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.6s ease;
    cursor: pointer;
    font-family: font2;
    transition: 0.6s ease-in-out;
}
.img-collection .info .btn:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    color: white;
}
#product{
    color: black;
    font-family: font2;
}
/* Featured Products */
.product-area{
    margin-bottom: 30px;
}
.product-box{
    text-align: center;
}
.product-collections{
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    transition: 0.5s all;
    margin-right: 5px;
}
.product-collections:hover{
    transform: translateY(5px);
}
#proname{
    align-items: center;
    text-align: center;
}
.product-collections{
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.product-collections img{
    height: 200px;
}
#p1{
    padding: 10px 10px;
}
#d1{
    padding: 5px 5px;
    text-align: center;
}
#pr{
    padding: 2px 2px;
    text-align: center;
    font-weight: 600;
}
.btn-by{
    text-align: center;
}
.btn-by .btn-b{
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 980px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
}
.btn-red{
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 23px;
    padding: 4px 11px;
}
.btn-pr{
    text-align: center;
}
.btn-pr .btn-p{
    margin-top: 10px;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 28px;
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 980px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
    transition: 0.6s ease;
}
.btn-b:hover{
    background-color: rgb(255, 0, 0);
}

.btn-red{
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 23px;
    padding: 4px 11px;
}
.btn-p:hover{
    background-color: rgb(255, 0, 0);
}
.img1 .collection_02{
    text-align: center;
}
/* Product list */
.listProduct{
    text-align: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.4);
    justify-content: center;
    margin-bottom: 10px;
}
.products-items ul li{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.products-items ul li a h4{
    text-align: center;
    transition: 0.5s all;
    padding: 0px 30px;
    font-family: font1;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
}
.products-items ul li a h4:hover{
    transform: translateY(5px);
}
#act{
    color: black;
    opacity: 1;
}
/* All products */
.avail-products{
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    transition: 1s;
    margin-top: 5px;
    margin-right: 5px;
    flex-basis: 350px;
    transition: 0.5s all;
}
.avail-products:hover{
    transform: translateY(5px)
}
.allproducts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.avail-products img{
    height: 250px;
}
#cart-color{
    background-color: rgb(255, 0, 0);
    color: white;
}
#cart-color:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
#learn-more{
    font-family: font2;
    font-weight: 600;
    padding: 10px 10px;  
}
.facuilty-area{
    margin-top: 40px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(216, 216, 216, 0.4);
}
.img-area{
    margin-top: 60px;
    margin-bottom: 60px;
}
.content{
    margin-right: 60px;
}
.img-icon{
    margin-top: 5px;
    border-radius: 50%;
    background-color: white;
    padding: 20px 20px;
}
.icon-border{
    margin: 12px 55px;
    border: 1.5px solid white;
    border-radius: 75px;
}
.icon-border2{
    margin: 10px 60px;
    border: 1.5px solid white;
    border-radius: 75px;
}
.icon-border3{
    margin: 10px 48px;
    border: 1.5px solid white;
    border-radius: 75px;
}
.icon-border4{
    margin: 10px 32px;
    border: 1.5px solid white;
    border-radius: 75px;
}
/* Subscribe to newsletter */
.newletter{
    margin-top: 40px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    padding-right: 9.375rem;
}
.subscribe-box{
    padding: 12px;
    margin-bottom: 1px;
}
.input-box{
    position: relative;
    justify-content:center;
}
.email{
    font-size: 1em;
    text-indent: 1rem;
    font-weight: 400;
    padding: 12px;
    width: 290px;
    background: #f1f1f1;
    border: none;
    font-family: "Archivo", sans-serif;
    outline: none;
}
.btn-s{
    position: absolute;
    padding: 8px;
    font-size: 1em;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    background-color: rgba(0, 0, 0, 4);
    padding: 12px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}
#small{
    font-size: 15px;
    font-family: "Archivo", sans-serif;
}
.btn-s:hover{
    background-color: rgb(255, 0, 0);
    transform: translateX(1px);
}

/* Footer section */
.foot-container{
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.footer{
    background-color: #333;
    padding: 20px 30px;
    line-height: 2.5rem;
}
.section{
    padding: 3rem 0;
}
#footer{
    display: block;
}
.foot-container{
    max-width: 117rem;
    padding-right: 9.375rem;
}
.foot-container .foot-top h3{
    text-align: center;
}
div{
    display: block;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ccc;
    text-align: center;
}
.foot-top a{
    justify-items: left;
    font-family: "Archivo", sans-serif;
    display: block;
    color: #ccc;
    letter-spacing: 0.8px;
    transition: 0.6s;
    font-size: 15px;
    font-weight: normal;
}
.footer-top h3 {
    font-size: 1.3rem;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}
/* Page numbers */
.page-num{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page{
    position: relative;
    justify-content: center;
}
.page .pre-next{
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    color: white;
    font-family: "Archivo", sans-serif;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.pre-next:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    transform: translateX(2px);
}
.page .btn-pg{
    padding: 7px 20px;
    font-family: "Archivo", sans-serif;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s all;
}
.btn-pg:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    transform: translateX(2px);
}
.last-area{
    text-align: center;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 2px;
    padding-top: 2px;
    letter-spacing: 1px;
}
.last-area h4{
    font-family: font3;
}
@font-face {
    font-family: font3;
    src: url(SF-UI-Display-Regular.otf);
}
@media only screen and (max-width:768px) {
    .container{
        padding-bottom: 30px;
        padding-right: 50px;
        width: 100%;
        text-align: center;
    }
    #banner_02{
        height: 300px;
        position: relative;
        left: -80px;
    }
    .headings{
        width: 80%;
        font-size: 13px;
    }
    .banner-area{
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    .head .title{
        font-size: 15px;
    }
    .collection-box{
        width: 80%;
        margin-left: 70px;
    }
    .img-collection img{
        align-items: center;
        text-align: center;
    }
    .img-collection{
        height: 200px;
    }
    .img-collection .info{
        margin-left: 60px;
    }
    .product-collections .img-1{
        height: 300px;
        width: 200px;
    }
    .product-box{
        display: flex;
        margin: 0 auto;
    }
    .product-collections{
        display: block;
        width: 150px;
    }
   
    #p1{
        font-size: 12px;
    }
    #d1{
        font-size: 10px;
    }
    #pr{
        font-size: 12px;
    }
    .btn-by .btn-b{
        font-size: 10px;
    }
    .btn-pr .btn-p{
        font-size: 10px;
    }

}